@page "/MoreInfo"
@rendermode InteractiveServer

<PageTitle>Sobremi</PageTitle>

<h1>Sobre mí.</h1>

<div class="image-container">
    <img src="images/Foto Mia.jpeg" alt="FotoMia" class="centered-image">
</div>

<style>
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .centered-image {
        max-width: 45%;
        height: auto;
    }
</style>

<br>
<center>
<p>Saludos, cómo ya lo he mencionado mi nombre es Isael Besonias. En la parte inferior detallaré mis credenciales y portales de mensajería.</p>
<br>
<p>Mi telegram, para mandarme mensaje directo: <a href="https://t.me/Isaelbesonias" target="blank">Link a mi Telegram.</a></p>
<p>Mi número de Whatsapp es: <a href="https://wa.me/18096947287" target="blank">Link de mensaje directo.</a></p>
<p>Mi correo electrónico personal: isaeldejesusbesoniasreyes@gmail.com</p>

<h3>De que trata esta pagina?</h3>

<p>Esta pagina recopila informacion sobre accidentes y esta hecha en blazor.</p>
</center>
<PageTitle>Info</PageTitle>