@page "/"

<PageTitle>Inicio</PageTitle>

<div class="soft-gray-background">
<center>
<h1>Página inicial.</h1>


<p>Hola, soy Isael Besonias. Y bienvenido a mi página de la tarea 1, espero le agrade y que le parezca interesante.</p>
<br>

<h2>Objetivos de la actividad.</h2>

<p>Crear una página web sencilla capaz de contener las siguientes funcionalidad:</p>
<b>» Alojamiento de videos.</b>
<br>
<b>» Calculadora web.</b>
<br>
<b>» Tabla de multiplicación sencilla.</b>
<br>
<b>» Una página de "Acerca de mi".</b>
<br>


<img class = "img-fluid"
src = "https://c.tenor.com/TrHi8k3tzFEAAAAd/tenor.gif">
<br>
<br>
<h2>Frase motivadora de programación:</h2>
<i>"El código es poesía en movimiento: cada línea que escribes es un paso hacia la creación de algo extraordinario."</i>

</center>
</div>